h2 {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}
.media-link-box {
    display: flex;
    margin-bottom: 10px;
}

.education-box, .skills-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.skills-box {
    margin-left: 20px;
}
.aboutme-box {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 4;
}
.links-box {
    display: flex;
    flex-direction: column;
    grid-column: 1;
}
